<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DOB</th>
            
        </tr>
        {% for i in data1 %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.DOB}}</td>
          
            <td><a href="ndelete/{{i.id}}">Delete</a></td>
            <td><a href="nupdate/{{i.id}}">Edit</a></a></td>

        </tr>
        {% endfor %}
       
    </table>
</body>
</html>